@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #ffffff;
  background-color: #0c0a09;
  font-family: Inter, system-ui, sans-serif;
}

html,
body,
#app {
  margin: 0;
  min-height: 100%;
}

body {
  min-width: 320px;
  padding: 0;
  overflow: hidden;
  color: #ffffff;
  background-color: #0c0a09;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1c1917;
}

::-webkit-scrollbar-thumb {
  background: #44403c;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #57534e;
}
